d2to1>=0.2.10,<0.3
Flask>=0.9
Flask-Gravatar
iso8601
launchpadlib
http://tarballs.openstack.org/oslo.config/oslo.config-1.2.0a2.tar.gz#egg=oslo.config-1.2.0a2
pbr>=0.5.16,<0.6
psutil
python-memcached
pymongo
sh
six
