{% extends "base.html" %}

{% block head %}

<script type="text/javascript">
    $(document).ready(function () {
        initSelectors("");
        $(".select2-selection__arrow")
            .addClass("material-icons")
            .html("arrow_drop_down");
    });

    $(function () {
        $(document).tooltip();
    });
</script>

{% block scripts %}{% endblock %}

{% endblock %}

{% block body %}

<div class="page">
    {% if not runtime_storage_update_time %}
    <div class="banner">The data is being loaded now and is not complete</div>
    {% set update_time_title = '' %}
    {% else %}
    {% if runtime_storage_update_time is too_old %}
    <div class="banner">The data was last updated on {{ runtime_storage_update_time_str }}</div>
    {% endif %}
    {% set update_time_title = 'Last updated on ' + runtime_storage_update_time_str %}
    {% endif %}
    <div class="container">
        <div class="aheader">

            <div id="analytics_header">
                <div class="row">
                    <div class="col-lg-3">
                        <div id="logo" class="text-center">
                            <a href="{{ url_for('overview') }}">
                                <img
                                        src="{{ url_for('static', filename='images/stackalytics_logo.png') }}"
                                        class="img-fluid" alt="Stackalytics">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="stackamenu text-center">
                            <ul id="menu-stackamenu" class="list-inline">
                                <li class="list-inline-item"><a href="/"><span class="menu-item">OpenStack Foundation</span></a></li>
                                <li class="list-inline-item current-menu-item"><a href="/cncf"><span class="menu-item">CNCF</span></a></li>
                                <li class="list-inline-item"><a href="/unaffiliated"><span class="menu-item">Other Projects</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <a class="about" href="https://wiki.openstack.org/wiki/Stackalytics" target="_blank"
                           title="{{ update_time_title }}">
                            About
                        </a>
                    </div>
                </div>

                <div class="drops">
                    <div class="row">
                        <div class="col-md" style="display:none;">
                            <label for="release_selector" title="Official releases of OpenStack">Release</label>
                            <input type="hidden" id="release_selector" style="width: 100%"
                                   data-placeholder="Select release"/>
                        </div>
                        <div class="col-md">
                            <label for="date_selector" title="Official releases of OpenStack">Date</label>
                            <input type="hidden" id="date_selector" style="width: 100%"
                                   data-placeholder="Select date"/>
                        </div>
                        <div class="col-md" style="display:none;">
                            <label for="project_type_selector" title="Project type groups modules of the same kind. 'OpenStack' are projects defined in the official governance projects.yaml.
                        'OpenStack Others' are projects not included into any program. 'Complementary' are projects related to OpenStack ecosystem">Project
                                Type</label>
                            <input type="hidden" id="project_type_selector" style="width: 100%"
                                   data-placeholder="Select project type"/>
                        </div>
                        <div class="col-md">
                            <label for="module_selector"
                                   title="CNCF Projects">Project</label>
                            <input type="hidden" id="module_selector" style="width: 100%"
                                   data-placeholder="Any project"/>
                        </div>
                        <div class="col-md">
                            <label for="company_selector" title="Company name">Company</label>
                            <input type="hidden" id="company_selector" style="width: 100%"
                                   data-placeholder="Any company"/>
                        </div>
                        <div class="col-md">
                            <label for="user_id_selector"
                                   title="Name of contributor as configured in Launchpad or default_data.json">Contributor</label>
                            <input type="hidden" id="user_id_selector" style="width: 100%"
                                   data-placeholder="Any contributor"/>
                        </div>
                        <div class="col-md" style="display: none;">
                            <label for="metric_selector" title="One of available metrics">Metric</label>
                            <input type="hidden" id="metric_selector" style="width: 100%"
                                   data-placeholder="Select metric"/>
                        </div>

                    </div>

                </div>
                {% if show_module_details %}

                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                {% block left_frame %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% block right_frame %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% block center_frame %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="footer_container">
                    <div class="row">
                        <div class="col-lg-9">
                            Stackalytics displays information collected from open sources, including
                            <a href="https://git.openstack.org/cgit" style="color: grey;">git.openstack.org</a>
                            ,
                            <a href="https://review.openstack.org/" style="color: grey;">review.openstack.org</a>
                            ,
                            <a href="https://launchpad.net/" style="color: grey;">Launchpad</a>
                            ,
                            <a href="https://github.com/" style="color: grey;">GitHub</a>
                            ,
                            <a href="https://www.openstack.org/" style="color: grey;">OpenStack.org</a>
                            ,
                            <a href="http://lists.openstack.org/cgi-bin/mailman/listinfo" style="color: grey;">OpenStack
                                mailing lists
                            </a>
                            .
                            {% if update_time_title %}{{ update_time_title }}{% endif %}
                        </div>
                        <div class="col-lg-3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
