{% extends "kpi/base_kpi.html" %}

{% block title %}
    Group KPI
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        function process_stats(marker_id, url, item_id, comparator) {
            $.ajax({
                url: make_uri(url),
                dataType: "jsonp",
                success: function (data) {
                    data = data["stats"];
                    var index = -1;
                    var sum = 0;

                    for (var i = 0; i < data.length; i++) {
                        sum += data[i].metric;
                        if (data[i].id == item_id) {
                            index = i;
                        }
                    }

                    var isOk = false;
                    var message = "";
                    var value = "";

                    if (index < 0) {
                        message = "Item " + item_id + " is not found in the stats";
                    }
                    else {
                        var compare_result = comparator(data[index], sum);
                        isOk = compare_result.result;
                        message = compare_result.message;
                        value = compare_result.value;
                    }
                    $("#kpi_marker_" + marker_id).addClass(isOk ? "kpi_good" : "kpi_bad").text(value);
                    $("#kpi_note_" + marker_id).show().text(message);
                }
            });
        }

        function goal_position_in_top(marker_id, url, item_id, position) {
            $(document).ready(function () {
                process_stats(marker_id, url, item_id,
                        function(item, sum) {
                            var result = item.index <= position;
                            return {
                                result: result,
                                message: result? "Target position is " + position:
                                        "Position " + item.index + " is worse than target position " + position,
                                value: item.index
                            }
                        });
            });
        }

        function goal_percentage_in_top_less_than(marker_id, url, item_id, goal_percentage) {
            $(document).ready(function () {
                process_stats(marker_id, url, item_id,
                        function(item, sum) {
                            var percentage = item.metric / sum;
                            var result = percentage < goal_percentage;
                            var percentage_formatted = Math.round(percentage * 100) + "%";
                            var goal_percentage_formatted = Math.round(goal_percentage * 100) + "%";
                            return {
                                result: result,
                                message: result? "Target percentage is " + goal_percentage_formatted:
                                        "Value " + percentage_formatted + " is more than target " + goal_percentage_formatted,
                                value: percentage_formatted
                            }
                        });
            });
        }

    </script>
{% endblock %}

{% macro marker_block(id, title) %}
    <div id="position_target" class="kpi_block">
        <div id="kpi_marker_{{ id }}" class="kpi_marker"></div>
        <div class="kpi_title_block">
            <div class="kpi_title">{{ title }}</div>
            <div class="kpi_note" id="kpi_note_{{ id }}"></div>
        </div>
    </div>
{%- endmacro %}

{% macro goal_position_in_top(record_filter, item_type, item_id, target_position, title) -%}
    {% set id = title|remove_ctrl_chars %}
    {% set uri = '/api/1.0/stats/' + item_type %}

    <script type="application/javascript">
        goal_position_in_top("{{ id }}", "{{ record_filter|make_url(uri)|safe }}", "{{ item_id }}", {{ target_position }});
    </script>

    {{ marker_block(id, title) }}
{%- endmacro %}

{% macro goal_percentage_in_top_less_than(record_filter, item_type, item_id, target_percentage, title) -%}
    {% set id = title|remove_ctrl_chars %}
    {% set uri = '/api/1.0/stats/' + item_type %}

    <script type="application/javascript">
        goal_percentage_in_top_less_than("{{ id }}", "{{ record_filter|make_url(uri)|safe }}", "{{ item_id }}", {{ target_percentage }});
    </script>

    {{ marker_block(id, title) }}
{%- endmacro %}


{% block content %}
    <h1>Metrics</h1>

    {{ goal_position_in_top({'release': 'icehouse', 'project_type': 'openstack', 'metric': 'commits'}, 'companies', 'Mirantis', 5, 'Position by commits') }}
    {{ goal_position_in_top({'release': 'icehouse', 'project_type': 'openstack', 'metric': 'marks'}, 'engineers', 'boris-42', 5, 'Position by reviews') }}
    {{ goal_position_in_top({'release': 'icehouse', 'project_type': 'openstack', 'metric': 'marks', 'module': 'glance', 'exclude': 'core'},
                            'engineers', 'boris-42', 3, 'Top-3 in non-core top reviewers') }}

    {{ goal_percentage_in_top_less_than({'release': 'all', 'project_type': 'stackforge', 'metric': 'commits', 'module': 'stackalytics'},
                                        'companies', 'Mirantis', 0.8, 'Internal contribution is less than 80%') }}

{% endblock %}
