{% extends "base.html" %}

{% block head %}

    <script id="kpi_block_template" type="text/x-jquery-tmpl">
    <div class="kpi_block">
        <div class="kpi_marker ${(mark ? "kpi_good" : "kpi_bad")} ">${(mark ? "&#x2714;" : "&#x2716;")}</div>
        <div class="kpi_title_block">
            <div class="kpi_title">Goal: ${text_goal}</div>
            <div class="kpi_info">Result: ${info}</div>
        </div>
    </div>
    </script>

    {% block scripts %}{% endblock %}
{% endblock %}

{% block body %}

<div style="margin: 2em;">
<div id="analytics_header" style="padding-bottom: 1em; border-bottom: 1px solid darkgrey;">
    <span id="logo"><a href="{{ url_for('overview') }}"><img src="{{ url_for('static', filename='images/stackalytics_logo.png') }}" alt="Stackalytics" style="width: 100%; max-width: 190px;"></a></span>
    <span id="slogan" style="position: relative; top: -15px;">| community heartbeat</span>
</div>

{% block content %}
{% endblock %}

</div>
{% endblock %}
