<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>{% block title %}Welcome{% endblock %} | Stackalytics - OpenStack Analytics Dashboard</title>

	<link rel="alternate" type="application/rss+xml" href="http://www.mirantis.com/feed/" title="Mirantis latest posts" />
	<link rel="alternate" type="application/rss+xml" href="http://www.mirantis.com/comments/feed/" title="Mirantis latest comments" />
	<link rel="pingback" href="http://www.mirantis.com/xmlrpc.php" />
	<link rel='archives' title='June 2013' href='http://www.mirantis.com/2013/06/' />
	<link rel='archives' title='May 2013' href='http://www.mirantis.com/2013/05/' />
	<link rel='archives' title='April 2013' href='http://www.mirantis.com/2013/04/' />
	<link rel='archives' title='March 2013' href='http://www.mirantis.com/2013/03/' />
	<link rel='archives' title='February 2013' href='http://www.mirantis.com/2013/02/' />
	<link rel='archives' title='January 2013' href='http://www.mirantis.com/2013/01/' />
	<link rel='archives' title='December 2012' href='http://www.mirantis.com/2012/12/' />
	<link rel='archives' title='November 2012' href='http://www.mirantis.com/2012/11/' />
	<link rel='archives' title='October 2012' href='http://www.mirantis.com/2012/10/' />
	<link rel='archives' title='September 2012' href='http://www.mirantis.com/2012/09/' />
	<link rel='archives' title='August 2012' href='http://www.mirantis.com/2012/08/' />
	<link rel='archives' title='July 2012' href='http://www.mirantis.com/2012/07/' />
	<link rel='archives' title='June 2012' href='http://www.mirantis.com/2012/06/' />
	<link rel='archives' title='May 2012' href='http://www.mirantis.com/2012/05/' />
	<link rel='archives' title='April 2012' href='http://www.mirantis.com/2012/04/' />
	<link rel='archives' title='March 2012' href='http://www.mirantis.com/2012/03/' />
	<link rel='archives' title='February 2012' href='http://www.mirantis.com/2012/02/' />
	<link rel='archives' title='January 2012' href='http://www.mirantis.com/2012/01/' />
	<link rel='archives' title='December 2011' href='http://www.mirantis.com/2011/12/' />
	<link rel='archives' title='November 2011' href='http://www.mirantis.com/2011/11/' />
	<link rel='archives' title='October 2011' href='http://www.mirantis.com/2011/10/' />
	<link rel='archives' title='September 2011' href='http://www.mirantis.com/2011/09/' />
	<link rel='archives' title='August 2011' href='http://www.mirantis.com/2011/08/' />
	<link rel='archives' title='July 2011' href='http://www.mirantis.com/2011/07/' />
	<link rel='archives' title='June 2011' href='http://www.mirantis.com/2011/06/' />
	<link rel='archives' title='May 2011' href='http://www.mirantis.com/2011/05/' />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css' />


{#    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>#}
{##}
{#    <script type='text/javascript' src='http://www.mirantis.com/wp-content/themes/carrington-jam-1.4/js/menu.js'></script>#}


    <a rel="author" href="https://plus.google.com/105615415033737866019" target="blank" rel="nofollow"></a>

    {% block head %}{% endblock %}

    <!-- Google Analytics -->
{#    <script type="text/javascript">#}
{#        var _gaq = _gaq || [];#}
{#        _gaq.push(['_setAccount', 'UA-8933515-2']);#}
{#        _gaq.push(['_setDomainName', 'stackalytics.com']);#}
{#        _gaq.push(['_setAllowLinker', true]);#}
{#        _gaq.push(['_trackPageview']);#}
{#        (function () {#}
{#            var ga = document.createElement('script');#}
{#            ga.type = 'text/javascript';#}
{#            ga.async = true;#}
{#            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';#}
{#            var s = document.getElementsByTagName('script')[0];#}
{#            s.parentNode.insertBefore(ga, s);#}
{#        })();#}
{#    </script>#}

</head>

<body>
<div id="content">
<table cellpadding="0" cellspacing="0" id="miraheader">
<tr>
<td width="167px" height="107px"><a href="http://www.mirantis.com/" title="Home" rel="home"><img src="{{ url_for('static', filename='images/mirantis_logo.gif') }}" alt="Mirantis" border="0"/></a></td>
<td>
	<div id="top-menu">
            <div class="textwidget"><table align="right">
<tr><td>
<div style="margin-top:5px; margin-right:10px;">
{#<a href="https://twitter.com/MirantisIT" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @twitter</a>#}
{#<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>#}
</div>
</td>
<td>
<div id="ttopmenu"><a class="top" href="http://mirantis.com/blog/">Blog</a> &nbsp; <a class="top" href="http://mirantis.com/careers/">Careers</a> &nbsp; <a class="top"  href="http://mirantis.com/contact/">Contact Us</a></div>
</td>
</tr>
</table></div>
        	</div>
<!--#top-menu-->
<div id="main-menu">
<div id="text-89" class="widget widget_text">
    <div id="masthead">
        <div id="globalNav">
            <div id="globalLink">
                <a href="http://mirantis.com/openstack-services/" id="gl1" class="glink"  name="gl1">OpenStack Services</a>
                <a href="http://mirantis.com/openstack-training/" id="gl2" class="glink" name="gl2">Training</a>
                <a href="http://fuel.mirantis.com" id="gl3" class="glink" name="gl3">Fuel for OpenStack</a>
                <a href="http://mirantis.com/openstack-use-cases/" id="gl4" class="glink" name="gl4">Use Cases </a>
                <a href="http://mirantis.com/why-mirantis/" id="gl5" class="glink"  name="gl5">Why Mirantis</a>
                <a href="http://mirantis.com/company/" id="gl6" class="glink" name="gl6">Company</a>
            </div>
        </div>
        <div id="subglobal1" class="subglobalNav" style="visibility: hidden;">
			<a href="http://mirantis.com/openstack-services/do-it-yourself-assist/">Do-It-Yourself Assist</a>
		    <a href="http://mirantis.com/openstack-services/deployment-integration/">Deployment & Integration</a>
			<a href="http://mirantis.com/openstack-services/support/">Support</a>
		</div>
        <div id="subglobal4" class="subglobalNav" style="visibility: hidden;">
			<a href="http://mirantis.com/openstack-use-cases/saas-web/">SaaS/Web Vendors</a>
            <a href="http://mirantis.com/openstack-use-cases/service-providers/">Service Providers</a>
			<a href="http://mirantis.com/openstack-use-cases/enterprise-cloud/">Enterprise Cloud</a>
			<a href="http://mirantis.com/openstack-use-cases/infrastructure-technology/">Infrastructure Vendors</a>
        </div>
        <div id="subglobal5" class="subglobalNav" style="visibility: hidden;">
            <a href="http://mirantis.com/why-mirantis/mirantis-approach/">The Mirantis Approach</a>
			<a href="http://mirantis.com/why-mirantis/openstack-technology/">OpenStack Technology</a>
			<a href="http://mirantis.com/why-mirantis/success-stories/">Success Stories</a>
        </div>
        <div id="subglobal6" class="subglobalNav" style="visibility: hidden;">
            <a href="http://mirantis.com/company/about/">About</a>
			<a href="http://mirantis.com/company/leadership/">Leadership</a>
            <a href="http://mirantis.com/company/news/">In the Media</a>
			<a href="http://mirantis.com/company/press-release/">Company News</a>
        </div>
    </div>
    <div class="clear"></div>
</div>
</div>
<!--#main-menu-->
</td>
</tr>
</table>

    <div id="analytics_header">
        <h3><a href="/?metric={{ metric }}&period={{ period }}&project_type={{ project_type }}">Stackalytics</a> | {{ self.title() }}</h3>
        <p>Community heartbeat</p>
    </div>
    <!--#topdynamicinner-->

    {% block body %}{% endblock %}



<div id="dummy">
</div>
</div>
	<div id="footer">
        <div id="footer_content">
<div id="text-5" class="widget widget_text"><!--Footer-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0"
           id="foottable">
        <tr>
            <td valign="top">
                <span class="fgeneral">Mirantis Inc.<br>
                <span class="fslogan">OpenStack Clouds. Delivered.</span></span>
            </td>
            <td valign="top">
                <span class="fgeneral">© 2005&ndash;2013</span>
                <span class="fgeneralblue">All Rights Reserved</span>
            </td>
            <td valign="top">
                <div id="fbox">
                    <span class="fgeneral">615 National Avenue, Suite 100<br>
                        Mountain View, CA 94043</span></div>
            </td>
            <td valign="top">
                <div id="fbox">
                    <span class="fgeneralblue">Phone</span> <span
                        class="fgeneral">650-963-9828</span>
                    <br>
                    <span class="fgeneralblue">Fax</span> <span
                        class="fgeneral">650-963-9723</span>
                </div>
            </td>
        </tr>
    </table>
    <div class="clear"></div></div><div id="DNSindicator"></div>
        </div>
	</div><!--#footer-->

</body>
</html>