{% extends "layout.html" %}

{% block title %}
    {{ company }}
{% endblock %}

{% block left_frame %}

    <h2>Contribution by engineers</h2>

    <script type="text/javascript">
        loadTable("left_list", "/data/companies/{{ company|encode }}");
        loadChart("left_chart", "/data/companies/{{ company|encode }}", {limit: 10});
        loadTimeline({company: '{{ company }}'})
    </script>

    <div id="left_chart" style="width: 100%; height: 350px;"></div>

    <table id="left_list" class="display">
        <thead>
            <tr>
                <th>#</th>
                <th>Engineer</th>
                <th>{{ metric_label }}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="spacer"></div>

{% endblock %}

{% block right_frame %}

    <h2>Contribution by modules</h2>

    <script type="text/javascript">
        loadTable("right_list", "/data/modules", {company: "{{ company|encode }}" });
        loadChart("right_chart", "/data/modules", {limit: 10, company: "{{ company|encode }}" });
    </script>

    <div id="right_chart" style="width: 100%; height: 350px;"></div>

    <table id="right_list" class="display">
        <thead>
            <tr>
                <th>#</th>
                <th>Module</th>
                <th>{{ metric_label }}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="spacer"></div>

    <h3>Commit overview</h3>
    {%  if blueprints %}
        <div>Blueprints:
            <ol>
                {% for one in blueprints %}
                    <li>
                        <a href="https://blueprints.launchpad.net/{{ one[1] }}/+spec/{{ one[0] }}">{{ one[0] }}</a>
                        <small>{{ one[1] }}</small>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}

    {% if bugs %}
        <div>Bug fixes: <b>{{ bugs|length }}</b>
        </div>
    {% endif %}

    <div>Total commits: <b>{{ commits|length }}</b>, among them <b>{{ code_commits }}</b> commits in code,
        among them <b>{{ test_only_commits }}</b> test only commits</div>
    <div>Total LOC: <b>{{ loc }}</b></div>

{% endblock %}
