{% extends "layout.html" %}

{% block title %}
    engineers
{% endblock %}

{% block left_frame %}

    <h2>Contribution by engineers</h2>

    <script type="text/javascript">
        loadTable("left_list", "/data/engineers");
        loadChart("left_chart", "/data/engineers", {limit:10});
        loadTimeline('')
    </script>

    <div id="left_chart" style="width: 100%; height: 350px;"></div>

    <table id="left_list" class="display">
        <thead>
        <tr>
            <th>#</th>
            <th>Engineer</th>
            <th>{{ metric_label }}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="spacer"></div>

{% endblock %}

{% block right_frame %}

    <h2>Contribution by modules</h2>

    <script type="text/javascript">
        loadTable("right_list", "/data/modules");
        loadChart("right_chart", "/data/modules", {limit:10});
    </script>

    <div id="right_chart" style="width: 100%; height: 350px;"></div>

    <table id="right_list" class="display">
        <thead>
        <tr>
            <th>#</th>
            <th>Module</th>
            <th>{{ metric_label }}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="spacer"></div>

{% endblock %}
