{% extends "layout.html" %}

{% block title %}
    {{ module }}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    chartAndTableRenderer("/data/companies", "left_list", "left_chart", "/companies/", {module: "{{ module }}" });
    timelineRenderer({module: "{{ module }}" })
</script>
{% endblock %}

{% block left_frame %}

    <h2>Contribution by companies</h2>

    <div id="left_chart" style="width: 100%; height: 350px;"></div>

    <table id="left_list" class="display">
        <thead>
            <tr>
                <th>#</th>
                <th>Company</th>
                <th>{{ metric_label }}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="spacer"></div>

{% endblock %}

{% block right_frame %}

    <h2>Recent activity</h2>

    {% for rec in commits %}
        <div style="padding-bottom: 1em;">
            <div style='float: left; '>
                <img src="{{ rec.author_email|gravatar(size=32) }}">
            </div>
            <div style="margin-left: 4em;">
                <div>
                {% if rec.launchpad_id %}
                    {{ rec.author|link('/engineers/' + rec.launchpad_id)|safe }}
                {% else %}
                    {{ rec.author }}
                {% endif %}
                {% if rec.company_name %}
                    (
                    {{ rec.company_name|link('/companies/' + rec.company_name)|safe }}
                    )
                {% endif %}
                <em>{{ rec.date|datetimeformat }}</em>
                </div>

                {% if rec.correction_comment %}
                    <div style='font-weight: bold; color: red; padding-left: 2em;'>Commit corrected: {{ rec.correction_comment }}</div>
                {% endif %}
                <div><b>{{ rec.subject }}</b></div>
                <div style="white-space: pre-wrap;">{{ rec|commit_message|safe }}</div>
                <div><span style="color: green">+ {{ rec.lines_added }}</span>
                    <span style="color: red">- {{ rec.lines_deleted }}</span></div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
