{% extends "layout.html" %}

{% set show_company_breakdown = (not company) and (not user_id) %}
{% set show_engineer_breakdown = (not user_id) %}
{% set show_bp_breakdown = (metric in ['bpd', 'bpc']) %}
{% set show_module_breakdown = (not module) %}
{% set show_user_activity = (user_id) %}
{% set show_module_activity = (module) and (not user_id) %}
{% set show_activity = (show_user_activity) or (show_module_activity) %}
{% set show_user_contribution = (user_id) or (company) %}
{% set show_module_contribution = (module) and (not user_id) %}
{% set show_contribution = (show_user_contribution) or (show_module_contribution) %}
{% set show_user_profile = (user_id) %}
{% set show_top_mentors_options = (metric == 'tm_marks') %}
{% set show_review_ratio = (metric in ['marks', 'tm_marks']) %}

{% block scripts %}
<script type="text/javascript">

    renderTimeline();

    {% if show_company_breakdown %}
    renderTableAndChart("/api/1.0/stats/companies", "company_container", "company_table", "company_chart", "company");
    {% endif %}
    {% if show_engineer_breakdown %}
        {% if show_review_ratio %}
        renderTableAndChart("/api/1.0/stats/engineers", "engineer_container", "engineer_table", "engineer_chart", "user_id",
                ["index", "link", "mark_ratio", "metric"]);
        {% else %}
        renderTableAndChart("/api/1.0/stats/engineers", "engineer_container", "engineer_table", "engineer_chart", "user_id");
        {% endif %}
    {% endif %}
    {% if show_bp_breakdown %}
    renderTableAndChart("/api/1.0/stats/bp", "bp_container", "bp_table", "bp_chart", "name",
            ["index", "link", "status", "date", "metric"]);
    {% endif %}
    {% if show_module_breakdown %}
    renderTableAndChart("/api/1.0/stats/modules", "module_container", "module_table", "module_chart", "module");
    {% endif %}

    {% if show_activity %}

        var page_size = 10;
        var start_record = 0;

        function load_activity() {
            $.ajax({
                url: make_uri("/api/1.0/activity", {page_size: page_size, start_record: start_record}),
                dataType: "json",
                success: function (data) {
                    if (data["activity"].length < page_size) {
                        $('#activity_more').hide();
                    }
                    if ((start_record == 0) && (data["activity"].length == 0)) {
                        $('#activity_header').hide();
                    }
                    $("#activity_template").tmpl(data["activity"]).appendTo("#activity_container");
                    $('.ext_link').click(function(event) {
                        event.preventDefault();
                        event.stopPropagation();
                        window.open(this.href, '_blank');
                    });
                }
            });
        }
        $(document).ready(function () {
            load_activity();
        });
        $(document).ready(function () {
            $('#activity_more')
                .click(function() {
                        start_record += page_size;
                        load_activity() });
        });

    {% endif %}

    {% if show_user_profile %}
        $(document).ready(function () {
            $.ajax({
                url: make_uri("/api/1.0/users/{{ user_id }}"),
                dataType: "json",
                success: function (data) {
                    $("#user_profile_template").tmpl(data["user"]).appendTo("#user_profile_container");
                }
            });
        });
    {% endif %}

    {% if show_contribution %}
        $(document).ready(function () {
            $.ajax({
                url: make_uri("/api/1.0/contribution"),
                dataType: "json",
                success: function (data) {
                    $("#contribution_template").tmpl(data["contribution"]).appendTo("#contribution_container");
                }
            });
        });
    {% endif %}
</script>

{# Templates #}
<script id="activity_template" type="text/x-jquery-tmpl">
    {% raw %}
    <div style="margin-bottom: 1em;">
    <div style='float: left; '><img src="${gravatar}" style="width: 32px; height: 32px;"></div>
    <div style="margin-left: 40px;">
        <div style="font-weight: bold;">{%html author_link %} ({%html company_link %})</div>
        <div style="font-weight: bold;">${date_str} in {%html module_link%}</div>
    </div>
    <div style="margin-left: 40px;">
        {%if record_type == "commit" %}
            {%if correction_comment != "" %}
            <div style='font-weight: bold; color: red;'>Commit corrected:
                <span>${correction_comment}</span></div>
            {%/if%}
            <div style='font-weight: bold;'>${subject}</div>
            <div style='white-space: pre-wrap; '>{%html message %}</div>
            <div><span style="color: green">+<span>${lines_added}</span></span>
                <span style="color: blue">- <span>${lines_deleted}</span></span></div>
        {%elif record_type == "mark" %}
            <div>Review #${review_number} submitted by {%html parent_author_link %}</div>
            <div style='font-weight: bold;'>${subject}</div>
            <div>Change Id: <a href="${url}">${review_id}</a></div>
            <div style="color: {%if value > 0 %} green {%else%} blue {%/if%}">${description}: <span class="review_mark">${value}</span></div>
        {%elif record_type == "email" %}
            <div style='font-weight: bold;'>
            {%if email_link != "" %}
            <a href='${email_link}'>
            {%/if%}
            ${subject}
            {%if email_link != "" %}
            </a>
            {%/if%}
            </div>
            {%if blueprint_id_count %}
            <div>Mentions blueprints:
            {%each( index, value ) blueprint_id %}
                ${value}
            {%/each%}
            </div>
            {%/if%}
        {%elif ((record_type == "bpd") || (record_type == "bpc")) %}
            <div style='font-weight: bold;'>${title} ({%html blueprint_link %})</div>
            <div style='white-space: pre-wrap;'>${summary}</div>

            <div>Priority: <span class="specpriority${priority}">${priority}</span></div>
            <div>Status: <span class="status${lifecycle_status}">${lifecycle_status}</span>
                (<span class="specstatus${definition_status}">${definition_status}</span>,
                <span class="specdelivery${implementation_status}">${implementation_status}</span>)</div>
            {%if mention_count %}
            <div><b>Mention count: ${mention_count}, last mention on ${mention_date_str}</b></div>
            {%/if%}
        {%/if%}
    </div>
    </div>
    {% endraw %}
</script>

<script id="user_profile_template" type="text/x-jquery-tmpl">
    {% raw %}
    <div>
        <div style="float: left;"><img src="${gravatar}"></div>
        <div style="margin-left: 90px;">
            <h2>${user_name}</h2>
            <div>Company: {%html company_link %}
                    [<span style="font-style: italic;"><a
                        href="https://wiki.openstack.org/wiki/Stackalytics#Company_affiliation" style="color: grey" target="_blank">how to change↗</a></span>]
            </div>
            {%if launchpad_id != '' %}
                <div>Launchpad: <a href="https://launchpad.net/~${launchpad_id}">${launchpad_id}</a></div>
            {%/if%}
        </div>
    </div>
    {% endraw %}
</script>

<script id="contribution_template" type="text/x-jquery-tmpl">
    {% raw %}
<h2>Contribution Summary</h2>
<div>Total commits: <b>${commit_count}</b></div>
<div>Total LOC: <b>${loc}</b></div>
<div>Review stat (-2, -1, +1, +2): <b>${marks["-2"]}, ${marks["-1"]}, ${marks["1"]}, ${marks["2"]}</b></div>
    {% endraw %}
<div>Draft Blueprints: <b>${drafted_blueprint_count}</b></div>
<div>Completed Blueprints: <b>${completed_blueprint_count}</b></div>
<div>Emails: <b>${email_count}</b></div>
{% if module %}
<div><b><a href="/report/reviews/{{ module }}" target="_blank">Show open reviews for {{ module }}↗</a></b></div>
{% endif %}
{% if company %}
<div><b><a href="/report/companies/{{ company }}" target="_blank">Show activity report for {{ company_original }}↗</a></b></div>
{% endif %}
{% if user_id %}
<div><b><a href="/report/users/{{ user_id }}" target="_blank">Show activity report for {{ user_id }}↗</a></b></div>
{% endif %}
</script>

{% endblock %}

{% block report_options %}
    {% if show_top_mentors_options %}
        <script type='text/javascript'>
            $(document).ready(function () {
                $('#review_nth').val('{{ review_nth }}');
                $("#review_nth").select2();
            });

            function make_options() {
                var options = make_std_options();
                options['review_nth'] = $('#review_nth').val();
                return options;
            }

            function reload() {
                window.location.search = $.map(make_options(),function (val, index) {
                    return index + "=" + val;
                }).join("&")
            }

            $(document).on('change', '#review_nth', function (evt) {
                reload();
            });
        </script>
        <div class="drop" style="margin-top: 1em;">
            <label for="review_nth">Aggregate stats for first # reviews</label>
            <select id="review_nth" name="review_nth"
                    style="min-width: 140px;"
                    data-placeholder="Select review #">
                <option></option>
                {% set review_number_options = [1, 2, 3, 4, 5, 10, 15] %}
                {% for option in review_number_options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
{% endblock %}

{% block left_frame %}

    {% if show_company_breakdown %}
    <div id="company_container">
    <h2>Contribution by companies</h2>

    <div id="company_chart" style="width: 100%; height: 350px;"></div>

    <table id="company_table" class="display">
        <thead>
            <tr>
                <th>#</th>
                <th>Company</th>
                <th>{{ metric_label }}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="spacer"></div>
    </div>
    {% endif %}

    {% if show_engineer_breakdown %}
    <div id="engineer_container">
    <h2>Contribution by engineers</h2>

    <div id="engineer_chart" style="width: 100%; height: 350px;"></div>

    <table id="engineer_table" class="display">
        <thead>
            <tr>
                <th>#</th>
                <th>Engineer</th>
                {% if show_review_ratio %}
                    <th>-2|-1|+1|+2 (+/- ratio)</th>
                {% endif %}
                <th>{{ metric_label }}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="spacer"></div>
    </div>
    {% endif %}

    {% if show_user_profile %}
        <div id="user_profile_container" style="margin-bottom: 2em;"></div>
    {% endif %}
    {% if show_user_activity %}
        <h2 id="activity_header">Activity log</h2>
        <div id="activity_container"></div>

        <div style="height: 44px;">
        <div class="dataTables_paginate paging_full_numbers" id="activity_paginate">
            <a class="last paginate_button" tabindex="0" id="activity_more">More...</a>
        </div>
        </div>
    {% endif %}

    {% if show_module_contribution %}
        <div id="contribution_container"></div>
    {% endif %}

{% endblock %}

{% block right_frame %}

    {% if show_module_breakdown %}
    <div id="module_container">
    <h2>Contribution by modules</h2>

    <div id="module_chart" style="width: 100%; height: 350px;"></div>

    <table id="module_table" class="display">
        <thead>
            <tr>
                <th>#</th>
                <th>Module</th>
                <th>{{ metric_label }}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="spacer"></div>
    </div>
    {% endif %}

    {% if show_bp_breakdown %}
    <div id="bp_container">
    <h2>Blueprint popularity</h2>

    <div style="font-style: italic;">
        This metric shows how many times a blueprint was mentioned in emails and commit messages.
    </div>

    <div id="bp_chart" style="width: 100%; height: 350px;"></div>

    <table id="bp_table" class="display">
        <thead>
            <tr>
                <th>#</th>
                <th>Blueprint</th>
                <th>Status</th>
                <th>Date</th>
                <th>Mentions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="spacer"></div>
    </div>
    {% endif %}

    {% if show_user_contribution %}
        <div id="contribution_container"></div>
    {% endif %}

    {% if show_module_activity %}
        <h2 id="activity_header">Activity log</h2>
        <div id="activity_container"></div>

        <div style="height: 44px;">
        <div class="dataTables_paginate paging_full_numbers" id="activity_paginate">
            <a class="last paginate_button" tabindex="0" id="activity_more">More...</a>
        </div>
        </div>
    {% endif %}

{% endblock %}
